.north-america{
    fill: rgb(248, 248, 93);
}

.south-america{
    fill: rgb(255, 68, 68);
}

.africa{
    fill: rgb(158, 55, 55);
}

.australia{
    fill: rgb(255, 193, 79);
}

.europe{
    fill: lightskyblue;
}

.asia{
    fill: rgb(97, 192, 97);
}

.continent-boarder{
    stroke-width: 3px;
    box-shadow: 20px;
}

.continent-boarder:hover{
    fill: lightgray;
    /* scale: 101%; */
}

#map-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#map-overlay {
    height: 830px;
    width: 1200px;
    scale: 100%;
}
