body{
    overflow-y: scroll;
}
.north-america{
    fill: rgb(248, 248, 93);
}

.south-america{
    fill: rgb(255, 68, 68);
}

.africa{
    fill: rgb(158, 55, 55);
}

.australia{
    fill: rgb(170, 110, 170);
}

.europe{
    fill: lightskyblue;
}

.asia{
    fill: rgb(97, 192, 97);
}

.territory{
    stroke-width: 0px;
    /* box-shadow: 20px; */
}

.territory:hover{
    fill: lightgray;
    /* scale: 101%; */
}

.continent-border{
    stroke-width: 3px;
    box-shadow: 20px;
    /* fill: transparent; */
    z-index: 2;
}

.territory-border{
    stroke-width: 2px;
    stroke: black;
}

#map-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.map-overlay {
    height: 830px;
    width: 1200px;
    scale: 100%;
    /* position: absolute; */
}

#info-box{
    position: flex;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    border-top: 5px solid rgb(139, 96, 40);
    background-color: burlywood;

    margin: auto;
    opacity: 0.7;
}
.country-info{
    position: relative;
    display: inline-flex;

    top: 50%;
    right: 20%;
    transform: translate(50%, -50%);

    height: 90%;
    width: 40%;
    background-color: rgb(218, 152, 66) ;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
#attack-box{
    position: absolute;
    display: flex;
    justify-content: center;
    
    height: 140px;
    width: 140px;
    border-radius: 50%;
    
    margin-top: -50px;
    z-index: 3;

    border: 5px solid rgb(139, 96, 40);;
    cursor: pointer;
    text-align: center;
    color: black;
}
#attack-button{
    height: 140px;
    width: 140px;
    border-radius: 50%;

    text-align: center;
    color: black;
}
#attack-text{
    position: absolute;
    top: 38%;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}