@font-face {
    font-family: Treasure Map;
    src: "/treasuremap.ttf";
}

body {
    margin: 0px;
    /* Image source: https://www.textures4photoshop.com/tex/paper/grunge-stained-old-paper-texture.aspx */
    background-image: url("https://cdn.textures4photoshop.com/tex/thumbs/grunge-stained-old-paper-texture-130.jpg");
}

.north-america{
    fill: rgb(248, 248, 93);
}

.south-america{
    fill: rgb(255, 68, 68);
}

.africa{
    fill: rgb(158, 55, 55);
}

.australia{
    fill: rgb(255, 193, 79);
}

.europe{
    fill: lightskyblue;
}

.asia{
    fill: rgb(97, 192, 97);
}

.north-america:hover{
    fill: lightgray;
}

.south-america:hover{
    fill: lightgray;
}

.africa:hover{
    fill: lightgray;
}

.australia:hover{
    fill: lightgray;
}

.europe:hover{
    fill: lightgray;
}

.asia:hover{
    fill: lightgray;
}

#map-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#map-overlay {
    height: 830px;
    width: 1200px;
    scale: 100%;
}

#map-background {
    margin: 0px;
}

#compass{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 200px;
}

#home-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

#play-game{
    border-radius: 25px;
    color: black;
    background-color: lightskyblue;
    width: 200px;
    height: 50px;
}

h1{
    font-family: "Treasure Map";
    -webkit-text-stroke: 3px black;
    font-weight:400;
    font-size: 100px;
    margin: 0px;
    color: transparent;
    /* font-style: italic; */
}