@font-face {
    font-family: Treasure Map;
    src: "/treasuremap.ttf";
}

body {
    margin: 0px;
    /* Image source: https://www.textures4photoshop.com/tex/paper/grunge-stained-old-paper-texture.aspx */
    background-image: url("https://cdn.textures4photoshop.com/tex/thumbs/grunge-stained-old-paper-texture-130.jpg");
}

#compass{
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 150px;
}

#cannon{
    position: absolute;
    width: 200px;
    top: 20px;
    left: 0px;
    width: 100px;
}

#calvery{
    position: absolute;
    width: 200px;
    bottom: 20px;
    right: 20px;
    width: 200px;
    transform: scaleX(-1)
}

#home-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
}

.menu-button{
    border-radius: 25px;
    color: black;
    background-color: transparent;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    font-size: 20px;
    border-color: black;
    font-family: "Treasure Map";
}

h1{
    font-family: "Treasure Map";
    -webkit-text-stroke: 3px black;
    font-weight:400;
    font-size: 100px;
    margin: 0px;
    color: transparent;
}

#benny-logo{
    margin-top: 50px;
}